* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #0f0f0f;
  color: #fff;
}

/* container */
.container {
  max-width: 480px;
  margin: auto;
  padding: 12px;
  padding-bottom: 120px;
}

/* inputs */
input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 12px;
  border: 2px solid #333;
  background: #1a1a1a;
  color: #fff;
  margin-bottom: 12px;
}

textarea {
  min-height: 280px;
  resize: none;
}

/* buttons */
.btn {
  width: 100%;
  height: 60px;
  border-radius: 14px;
  border: none;
  background: #00ff88;
  color: #000;
  font-weight: bold;
}

/* scanner */
#qr-reader {
  position: fixed;
  inset: 0;
  display: none;
  background: black;
  z-index: 999;
}

#qr-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay (простое затемнение ВСЕГО) */
.scanner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
}

.scanner-overlay.success {
  background: rgba(0, 255, 0, 0.25);
  opacity: 1;
}

.scanner-overlay.error {
  background: rgba(255, 0, 0, 0.25);
  opacity: 1;
}

/* GREEN FRAME BOX (как раньше) */
.scan-box {
  position: absolute;
  top: calc(30% - 80px);
  left: 10%;
  width: 80%;
  height: 40%;

  border: 2px solid hsla(134, 100%, 50%, 0.2);
  border-radius: 10px;

  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.55);
}

/* STOP */
.stop-btn {
  position: fixed;
  width: 120px;
  height: 120px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: #fff;
  padding: 14px 20px;
  border: 2px solid hsla(0, 100%, 50%, 0.2);
  border-radius: 12px;
  z-index: 2000;
}

/* bottom bar */
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  padding: 10px;
  padding-bottom: calc(10px + env(safe-area-inset-bottom));

  background: #111;
  border-top: 1px solid #222;
}

.bottom-btn {
  flex: 1;
  height: 50px;

  border-radius: 12px;
  border: none;

  background: #1f1f1f;
  color: #fff;
  font-size: 12px;
}

.clean-btn {
  border: 2px solid hsla(0, 100%, 50%, 0.2);
}

.check-btn {
  border: 2px solid hsla(200, 100%, 50%, 0.15);
}

.copy-btn {
  border: 2px solid hsla(134, 100%, 50%, 0.1);
}

/* modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.info-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 30px 0;
}

.modal-btn {
  width: 110px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.ok {
  background: #2b2b2b;
  border: 2px solid hsla(0, 100%, 50%, 0.2);
  color: #fff;
  margin-right: 8px;
}

.cancel {
  background: #2b2b2b;
  border: 2px solid hsla(200, 100%, 50%, 0.15);
  color: #fff;
}

/* +++ */

.name-row {
  display: flex;
  gap: 8px;
}

.name-row input {
  flex: 1;
}

.type-select {
  position: relative;
}

.type-btn {
  width: 90px;
  padding: 12px;

  border-radius: 12px;
  border: 2px solid #333;

  background: #2a2a2a;
  color: #aaa;

  font-size: 18px;
}

.type-menu {
  position: absolute;
  top: 110%;
  right: 0;

  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 10px;

  overflow: hidden;
  z-index: 1000;
}

.type-menu div {
  padding: 10px 14px;
  cursor: pointer;
}

.type-menu div:hover {
  background: #333;
}

.hidden {
  display: none;
}

/* === */

.scan-btn {
  width: 100%;
  height: 52px;

  margin-top: 6px;

  border-radius: 12px;
  border: none;

  background: #00ff88;
  color: #000;

  font-size: 16px;
  font-weight: bold;
}

.statistic {
  margin-top: 16px;
}

/* место под текст (чтобы не прыгало) */
.statistic__title {
  min-height: 22px;
  margin-bottom: 6px;
  font-size: 16px;
  color: #ccc;
}

/* варианты */
.statistic__action.share {
  background: #00ff88;
  color: #000;
}

.statistic__action.delete {
  background: #ff4444;
  color: #fff;
}

.statistic__row {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* рамка */
.statistic__box {
  width: 50%;
  min-width: 120px;

  border: 1px solid #333;
  border-radius: 12px;

  padding: 12px;
  background: #1a1a1a;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* число */
.statistic__value {
  font-size: 22px;
  font-weight: bold;
  color: #00ff88;
}

/* кнопка */
.statistic__action {
  flex: 1;
  height: 48px;

  border-radius: 12px;
  border: none;

  padding: 8px 12px;

  font-size: 16px;
}

/* состояния */
.statistic__action.share {
  background: #00ff88;
  color: #000;
}

.statistic__action.delete {
  background: #ff4444;
  color: #fff;
}

/* === */

.scan-live-box {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;

  min-width: 100px;
  padding: 12px 20px;
  border-radius: 10px;

  background: rgba(0, 0, 0, 0.2);
  border: 2px solid hsla(200, 100%, 50%, 0.15);

  color: #00ff88;
  font-size: 30px;
  font-weight: bold;

  z-index: 2000;
}

.torch-btn {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 62px;
  height: 62px;
  background: rgba(0, 0, 0, 0.25);

  border: 2px solid hsla(51, 100%, 50%, 0.25);
  border-radius: 12px;
  padding: 0;

  z-index: 3000;
  /* backdrop-filter: blur(6px); */
}

.torch-btn img {
  width: 48px;
  height: 48px;

  /* filter: brightness(0) saturate(100%) invert(47%) sepia(16%) saturate(12%)
    hue-rotate(355deg) brightness(96%) contrast(87%); */

  filter: brightness(0) saturate(100%) invert(34%) sepia(14%) saturate(5%)
    hue-rotate(31deg) brightness(95%) contrast(100%);
}

.torch-btn.active img {
  background: rgba(0, 0, 0, 0.25);
  filter: brightness(0) saturate(100%) invert(62%) sepia(95%) saturate(400%)
    hue-rotate(90deg);
}
